.maincontent{
	/*background: url('../img/Agatbckgrnd.jpg');*/
}
.content-wrap{
	margin: 0 auto;
	width: 80%;
}

/*---------обшие стили ----------*/
.inlnblk{
	display: inline-block;
}

.search{
	margin: 50px 0;
}

.form-control{
	font-size: 20px;
	height: 40px;
}

.input-group-addon{
	font-size: 18px;
}


.email-int{
	display: none;
}
.emeil-ext{
	display: none;
}
.showemail{
	display: block;
}


.state{
	min-width: 150px;		
}

.phone-ext{
	min-width: 120px;			
}

.header{
	margin-top: 25px;
	margin-bottom: 50px;
}

.header__wraplogo{
	margin: 0 auto;
	width: 50%;
}

.logoagat{
	width: 100%;
}

.room-data{
	/*font-weight: 600;*/
}

/* ------------- шрифты --------------*/

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.myfont{
	font-family: 'Open Sans Regular';
}


/*@font-face {
  font-family: 'Glyphicons';

  src: url('../fonts/glyphicons-pro/glyphicons//glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}*/
.wrap-icostate{
	cursor: pointer;
	width: 24px;
	height: 24px;

}

.emplinside{
	background: url(../img/green-man-24.png) no-repeat;
	width: 100%;
	height: 100%;
	display: inline-block;
}
.emploutside{
	background: url(../img/red-man-24.png) no-repeat;
	width: 100%;
	height: 100%;
	display: inline-block;
}


.emplholydays{
	background: url(../img/holyday-24.png) no-repeat;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.emplworktrip{
	background: url(../img/worktrip-24.png) no-repeat;
	width: 100%;
	height: 100%;
	display: inline-block;
}

