<!DOCTYPE html>
<html lang="ru-RU" ng-app="phoneBook">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Телефонный справочник</title>
    <link rel="shortcat icon" href="img/faviconAgat32.jpg" type="image\x-icon">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/modalform.css" rel="stylesheet">


    <!-- angularjs -->
    <!--<script src="js/angular.min.4.9.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="js/dirPagination.js"></script>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    
  </head>
  <body ng-controller="phonelistCtrl" >
  <div class="maincontent ">
    <div class="header">
      <div class="header__wraplogo">
        <img class="logoagat" src="img/agatlogo.png">
      </div>
    </div>
    <div class="content-wrap">

      <h3>{{title}}</h3>
       
      
      <div class="search">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Поиск</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="searchString" placeholder="Введите текст">
        </div>
      </div>
      <div class="content-wrap__viewtb">
        <table class="table table-hover " >
          <thead>
            <th>
            <th>Подразделение</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Местный телефон</th>
            <th>Городской телефон</th>
            <th>Местопололжение</th>
            <th>E-mail</th>
            
            
          </thead>
            <tbody>
              <tr dir-paginate="empl in listempl | searchFor:searchString |orderBy:'FirstName'| itemsPerPage: pageSize" current-page="currentPage">
                <td>
                <div class="wrap-icostate" popover-placement="top" uib-popover={{empl.State}} popover-trigger="mouseenter">
                    <i ng-class="getState($index,empl.State)"></i>
                </div>
                </td>
                <td class = "Dep">{{empl.Department}}</td>
                <td class = "Fio">
                  <a href="#" ng-click="modalCard(empl)">
                  {{empl.FirstName}} {{empl.LastName}} {{empl.FatherName}} 
                  </a>
                <br/>
                
                </td>
                <td class = "position">{{empl.Position}}</td>
                <td class = "phone-int">{{empl.Phone_internal}}</td>
                <td class = "phone-ext">{{empl.Phone_external}}</td>
                <td class="place">
                  <span class="build">Корпус: {{empl.Build}}</span><br/>
                  <span class="room">Комната:
                    <span class="room-data">{{empl.Room}}</span>
                  </span>
                </td>
                <td class = "email">
                  <span class="email-int" ng-class="showEmail($index,empl.Email_int)">Внутренний:
                    <span class="email-int__data"><a href="mailto:{{empl.Email_int}}">{{empl.Email_int}} </a></span>
                  </span>


                  <span class="emeil-ext" ng-class="showEmail($index,empl.Email_ext)">Внешний:
                    <span class="emeil-ext__data">{{empl.Email_ext}}</span>
                  </span>
                </td>
                 
              </tr>
          </tbody>
        </table>

        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>

        
  
      <p>
        total Items: {{totalItems}}<br />
        Items per page: {{itemsPerPage}}<br />
        Current Page: {{currentPage}}
      </p>

      </div>
      </div>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.12.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/controller.js"></script>


    
  </body>
</html>